---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <nav>
        <ul>
            <li>
                <a href="/posts/README">Inicio</a>
            </li>
            <li>
                <a href="/posts/Teoria/README">Teoría</a>
            </li>
        </ul>
    </nav>
    <h3>Teoría</h3>
</Layout>